.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
Blockr/.metadata/.lock
Blockr/.metadata/.log
Blockr/.metadata/version.ini
Blockr/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Blockr/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Blockr/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Blockr/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Blockr/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Blockr/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Blockr/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Blockr/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Blockr/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Blockr/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Blockr/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Blockr/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Blockr/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Blockr/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Blockr/.metadata/.mylyn/.tasks.xml.zip
Blockr/.metadata/.mylyn/repositories.xml.zip
Blockr/.metadata/.mylyn/tasks.xml.zip
Blockr/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.collabnet.subversion.merge.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.tools.usage.prefs
Blockr/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.ui.prefs
Blockr/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
Blockr/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Blockr/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
Blockr/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Blockr/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Blockr/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Blockr/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Blockr/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/46/refactorings.history
Blockr/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/46/refactorings.index
Blockr/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
Blockr/.metadata/.plugins/org.tigris.subversion.subclipse.ui/dialog_settings.xml
